.q1:hover{
    background: blue;
    border-radius: 100px;
}
.q2:hover{
    background:  white;
    border-radius: 100px;
}
.q3:hover{
    background:blue;
    border-radius: 100px;
}
.q4:hover{
    background: white;
    border-radius: 100px;
}
.q5:hover{
    background:  white;
    border-radius: 100px;
}



